# This is modified almost every time STM32CubeIDE builds the software
firmware/.settings/language.settings.xml

# Standard git ignore things
.venv/
.pytest_cache/
.ruff_cache/
.pdm-build/
__pycache__/
*.py[cod]
*.egg-info/
.coverage
.coverage.*
.DS_Store
*.code-workspace
build/
dist/
htmlcov/
wheels/
