# BEGIN Project-specific ignores

# Ignore this because it generates a pointless hash every time STM32CubeIDE builds the firmware
firmware/.settings/language.settings.xml

# Local bench-test output
/local/

# END Project-specific ignores


# BEGIN Standard ignores
.venv/
.pytest_cache/
.ruff_cache/
.pdm-build/
__pycache__/
*.py[cod]
*.egg-info/
.coverage
.coverage.*
.DS_Store
*.code-workspace
build/
dist/
htmlcov/
wheels/
# END Standard ignores
